/****************************
REGOLE GENERALI
*************************/

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;400;600;900&family=Open+Sans:ital,wght@0,300;0,400;1,500&display=swap');

html{
    font-family: 'Chivo Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}

ul {
    list-style-type:none ;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;

}
    
/****************************
REGOLE HEADER
*************************/


.col-header {
    display: flex;
    align-items:center;
}

.row-header {
    justify-content: space-between;
}

.conteiner-nav {
    padding: 15px 10px ;
}

.col-header p {
    padding: 0 15px;
}

.btn-blu {
    background-color: rgb(0,97,255);
    border: none;
    color: white;
    white-space: nowrap;
}

.btn{
    padding: 10px 25px;
}


/****************************
REGOLE MAIN
*************************/

/* 
Primo conteiner
*/

.conteiner-background {
    background-color: rgb(180,208,231);
}

.conteiner-first {
    max-width: 1250px;
    margin: 0 auto;
}

.row-title {
    justify-content: center;
    padding: 30px 0;
    font-size: 60px;
}

.row-first {
    justify-content: center;
}

.arrow {
    margin-top: auto;
    font-size: 40px;
}

.col-hero {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 20px;
}

.col-img{
    flex-basis: 70%;
}

.circle {
    border-radius: 245px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid dodgerblue;
    border-width: 5px;
}

.display {
    display: inline-block;
    padding-right: 40px;
}

/* 
seconda section: card
*/

.row-title-table {
    font-size: 20px;

}

.col-table {
    border: 1px solid #c9c8c8;
    flex-basis: 30% ;
}

.col-table > h4{
    text-align: center;
    border-bottom: 1px solid #c9c8c8;
    padding: 10px 0;
}

.space {
    padding: 15px 15px;
    
}

.title-space {
    text-align: center;
    padding: 10px 0 10px 0px;
    border-bottom: 1px solid #c9c8c8;
}


.end-table > strong {
    display: inline-block;
}

.btn-user {
    margin: 60px 0px 20px 15px;
    padding: 10px 70px;
    line-height: 25px;
}
.btn-team {
    margin: 40px 0px 20px 15px;
    padding: 10px 70px;
    line-height: 25px;
}

.btn-company{
    margin: 43px 0px 25px 15px;
    padding: 10px 100px;
    line-height: 25px;
}

.margin-table-two {
    gap: 20px;
}

.row-table-two {
    flex-basis: calc( 100% / 3 );
    flex-wrap: wrap;
}

.col-margin {
    margin: 0 15px;
}



.col-undertitle{
    padding: 40px 0;
}

.btn-margin{
    margin-left: 35px;
}

.conteiner-title{
    padding-top: 50px;
}

.check {
    color: rgb(0,97,255);;
}

.col-table > .company{
    padding-bottom: 80px;
}

.line-table{
    width: 50px;
    margin: 20px 0 30px 12px;
}

.line-user {
    margin-bottom: 50px;
}

.col-table-orizontal {
    border: 1px solid #c9c8c8;
    margin-top: 15px;
    flex-basis: 93%;
}

.intestazione {
    padding-bottom: 30px;
}

.icon-team {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #c9c8c8;
}

.table-enterprise {
    display: flex;
    align-items: baseline;
    flex-basis: 30%;
    padding: 25px;
}

.col-enterprise {
    gap: 21px;
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}


/* 
terza section: partner
*/

.conteiner-partner {
    padding: 150px 0;
}

.col-img {
    flex-basis: 70%;
}


.col-partner {
    flex-basis: 30%;
}

.row-partner {
    gap: 60px;
    align-items: center;
}

.col-partner > p {
    padding: 20px 0;
}

/* 
quarta section: operetion
*/

.row-operetion__title {
    justify-content: center;
    font-size: 30px;
    padding-bottom: 60px;
}

.row-operetion__card {
    flex-wrap: wrap;
    gap: 50px;
}

.col-operetion > h2 {
    padding: 25px 0;
}

.col-operetion{
    flex-basis: 30%;
}

.col-operetion-utility {
    font-size: 30px;
    padding-top: 200px;
}

.row-operetion {
    flex-direction: column;
    gap: 30px;
}

/* 
    Quinta section: designit
*/

.table-designit {
    margin: 100px 0;
}

.col {
    display: flex;
}

.col-green {
    background-color: green;
}

.col-purple {
    background-color: purple;
}

.col-azure {
    background-color: rgb(21, 204, 204);
}

.col-red {
    background-color: red;
}

.col-blue {
    background-color: blue;
}

.col-jellow {
    background-color: rgb(255, 243, 19);
}

.conteiner-designit {
    display: flex;
}

.row-designit figure{
    flex-basis: 50%;
}

.row-designit {
    width: calc(100%/3);
    flex-wrap: wrap;
}

.row-center-designit {
    padding: 25px; 
    flex-direction: column;
    gap: 25px;
    background-color: #d2d2d2;
}

.col-p-designit{
    gap: 20px;
    flex-direction: column;
}

.col-under-designit {
    align-items: baseline;
}

.row-center-designit h1{
    font-size: 40px;
}

.col-designit {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-last-designit {
    background-color: #7baab4;
    padding: 80px;
}

.row-last-designit {
    justify-content: center;
}

.col-last-designit {
    flex-basis: 50%;
    align-items: center;
}

.col-last-designit h1 {
    font-size: 50px;
    color: rebeccapurple;
}

.col-button-last {
    align-items: center;
}

.col-title-designit {
    flex-direction: column;
}


/* Quinta section: domande frequenti */

.row-answer {
    flex-direction: column;
    gap: 55px;
}

.col-answer-title > h1 {
    font-size: 40px;
}

.col-answer > i,p {
    font-size: 20px;
}

.col-answer {
    justify-content:space-between;
    display: flex;
}

.col-answer-top {
    border-top: 1px solid black;
    padding-top: 50px;
}

.col-answer-center {
    border: 1px solid black;
    padding: 50px 0;
    border-left: none;
    border-right: none;
}

.col-answer-bottom {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}



/****************************
REGOLE FOOTER
*************************/

.foot {
    background-color: black;
    margin-top: 150px;
}

.col-foot h1,li {
    color: white;
    padding-bottom: 5px;
}

.col-foot h1 {
    padding-bottom: 20px;
}

.row-footer {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;
    padding: 40px 0;
}

.col-world {
    color: white;
    padding-top: 50px;
    border-top: 1px solid white;
    width: 140px;
}

.col-world > span {
    padding: 0 5px;
}












