/****************************
REGOLE GENERALI
*************************/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}

ul {
    list-style-type:none ;
}

    
/****************************
REGOLE HEADER
*************************/


.col-header {
    display: flex;
    align-items:center;
}

.row-header {
    justify-content: space-between;
}

.conteiner-nav {
    padding: 20px 10px ;
}

.col-header p {
    padding: 0 15px;
}

.btn-blu {
    background-color: rgb(0,97,255);
    padding: 5px 10px;
    border: none;
    color: white;

}



/****************************
REGOLE MAIN
*************************/

/* 
Prima conteiner
*/

.conteiner-background {
    background-color: rgb(180,208,231);
}

.conteiner-first {
    width: 800px;
    margin: 0 auto;
}

.row-title {
    justify-content: center;
    padding: 20px 0;
    font-size: 40px;
}

.row-first {
    justify-content: center;
}

.btn {
    margin: 20px 0;
}

.arrow {
    padding-top: 45px;
    font-size: 30px;
}

/* 
secondo conteiner
*/

.conteiner-title,.conteiner-table {
    width: 600px;
    margin: 0 auto;

}

.row-title-table {
    font-size: 20px;

}

.col-table {
    border: 1px solid #c9c8c8;
}

.col-table > .intestazione,
.corpo,
.end-table{
    padding: 15px 0;
}

.col-table > h4{
    text-align: center;
    border-bottom: 1px solid #c9c8c8;
}

.col-table h2,
strong,p,li {
    padding: 10px 20px;
    
}

.end-table > strong {
    display: inline-block;
}

.btn-table {
    margin-left: 10px;
    margin-top: 30px;
}














/****************************
REGOLE FOOTER
*************************/